*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
header{
    background-color: rgb(1, 1, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 70px;
    width: 70px;
    padding: 10px 0;
    margin-left: 100px;
}
nav ul{
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 12px 16px;
}
nav ul li a:hover{
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius:20px;
    border: 1px solid gray;
}
#designer{
    background-color:#e7d0a4;
    margin: 0 auto;
}
#designer img{
    max-width: 250px;
    margin-left:41%;
    padding-top: 35px;
    border-radius: 50%;
}
section{
    background-color:#f3ece0;
}
section h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 30%;
    padding-top: 24px;
    padding-bottom: 12px;
}
section img{
    max-width: 500px;
    margin: 0 500px;
}
#intro{
    background-color: rgb(4, 71, 86);
    padding: 50px 20px;
}
#intro p{
    margin: 0 200px;
    color: white;
    padding: 0 16px 50px 16px;
}
#intro h2{
    margin: 0 450px;
    font-size: 32px;
    font-weight: 600;
    padding: 16px;
    color: white;
}
#sec1{
    width: 90%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding-bottom: 30px;
}
#sec1 h2{
    color: black;
    margin: 0 45%;
}
.projects{
    display: flex;
    flex-direction: row;
    margin: 20px
}
.work img{
    height: 300px;
    width: 400px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.work a{
    text-decoration: none;
    font-size: 24px;
    color: black;
    margin-left: 10px;
    padding: 10px;
}
.work a:hover{
    font-weight: 700;
    border: 2px solid black;
    background-color: cornsilk;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#behance{
    padding: 30px;
    margin-left: 40%;
    margin-right: 35%;
}
#behance a{
    padding: 16px;
    background-color: peachpuff;
    color: black;
    text-decoration: none;
    border-radius: 25px;
}
#behance a:hover{
    background-color: black;
    color: white;
    border: 3px solid white;
    font-weight: bold;
}
